* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  overflow: hidden; }

.wrapper {
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100vh;
  background-color: black; }

/* ----------Search & Cart---------- */
#nav {
  display: none;
  position: fixed;
  width: 100%;
  height: 50px;
  right: 0;
  top: 0;
  z-index: 99; }
  #nav ul li {
    width: 50px;
    height: 50px;
    float: right;
    list-style-type: none;
    margin-right: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    #nav ul li img {
      width: 50%;
      height: 50%; }

.burger {
  position: absolute;
  top: -5%;
  left: 25%;
  width: 50px;
  height: 50px;
  font-size: 30px;
  margin: 0 20px 20px 20px; }

/* ----------intro------------ */
#merchant {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll; }

.bg-zoom {
  position: absolute;
  top: 0;
  width: 100%;
  height: 101vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 9;
  background-color: black;
  opacity: 1; }
  .bg-zoom h1 {
    display: none;
    color: white;
    font-size: 8rem;
    font-weight: 500;
    cursor: default; }
  .bg-zoom button {
    position: absolute;
    display: none;
    left: 50%;
    bottom: 10%;
    width: 25px;
    height: 40px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 30%;
    cursor: pointer;
    transition: transform 0.5s;
    animation-name: bounce;
    animation-duration: 1.4s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite; }
    .bg-zoom button:hover {
      border-color: gold;
      color: gold;
      animation-name: none;
      transform: scale(1.2); }

@keyframes bounce {
  0% {
    bottom: 10%; }
  50% {
    bottom: 8%; }
  100% {
    bottom: 10%; } }
/* ----------landing---------- */
#wow-landing {
  display: block;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  bottom: 0;
  /*-----Credits to worldofwarcraft.com----- */
  background-image: url("image/wow-bg.jpg");
  background-repeat: no-repeat;
  background-size: 120% 100%;
  background-position: left;
  opacity: 0.6;
  z-index: 5;
  /*-----Credits to @NamedYoro from devianart.com----- */ }
  #wow-landing:hover {
    opacity: 1; }
  #wow-landing img {
    width: 200px;
    position: relative;
    float: right;
    margin: 5% 6% 0 0;
    visibility: hidden;
    opacity: 0;
    transition: transform 1s; }
    #wow-landing img:hover {
      transform: scale(1.2); }
    #wow-landing img:first-child {
      height: 200px; }
    #wow-landing img:last-child {
      height: 250px; }

#up {
  display: none;
  width: 100px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 6;
  cursor: pointer; }
  #up span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    color: #414141;
    font-size: 70px;
    transition: transform 0.5s;
    animation-name: bounce2;
    animation-duration: 1.4s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite; }
    #up span:hover {
      transform: scale(1.2);
      animation-name: none; }

@keyframes bounce2 {
  0% {
    top: 8%; }
  50% {
    top: 4%; }
  100% {
    top: 8%; } }
#league-landing {
  display: block;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  /*-----Credits to leagueoflegends.com----- */
  background-image: url("image/league-bg.jpg");
  background-repeat: no-repeat;
  background-size: 120% 100%;
  background-position: center;
  opacity: 0.6;
  z-index: 5;
  /*-----Credits to leagueoflegends.com merchants store----- */ }
  #league-landing:hover {
    opacity: 1; }
  #league-landing img {
    width: 150px;
    height: 150px;
    position: absolute;
    visibility: hidden;
    transform: none;
    opacity: 0;
    transition: transform 1s; }
    #league-landing img:hover {
      transform: scale(3); }
    #league-landing img:nth-child(1) {
      left: 65%;
      bottom: 25%; }
    #league-landing img:nth-child(2) {
      left: 30%;
      bottom: 27%; }
    #league-landing img:nth-child(3) {
      left: 0;
      top: 20%; }

.leftclip {
  -webkit-clip-path: polygon(0 1%, 0 100vh, 99% 100vh);
  clip-path: polygon(0 1%, 0 100vh, 99% 100vh); }

.rightclip {
  -webkit-clip-path: polygon(1% 0, 100% 0, 100% 99vh);
  clip-path: polygon(1% 0, 100% 0, 100% 99vh); }

/* ----------left panel---------- */
#panel-left {
  display: none;
  position: absolute;
  left: -30%;
  width: 30%;
  height: 100%;
  z-index: 50;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.7); }

.prev-next {
  width: 80%;
  height: 25px;
  margin: 50px auto 100px auto; }
  .prev-next li {
    display: inline-block;
    width: 50%;
    float: left;
    padding: 0 10px;
    cursor: pointer; }
    .prev-next li:nth-child(1) {
      text-align: right;
      border-right: 1px solid; }
    .prev-next li:nth-child(2) {
      border-left: 1px solid; }

.describe {
  width: 80%;
  height: 40%;
  margin: 0 auto; }
  .describe h2 {
    font-size: 22px;
    margin: 20px 0 20px 0; }
  .describe p {
    font-size: 16px;
    color: #555;
    line-height: 30px; }
  .describe ul {
    width: 100%;
    height: 50px;
    margin-top: 20px; }
    .describe ul li {
      list-style-type: none;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border: 1px solid;
      border-radius: 50%; }
  .describe h3 {
    margin-top: 26px;
    font-size: 50px; }

.add-to-bag {
  width: 100%;
  height: 16%;
  position: absolute;
  bottom: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: white;
  cursor: pointer; }

/* ----------main panel---------- */
#panel-right {
  display: none;
  position: absolute;
  right: -70%;
  width: 70%;
  height: 100vh;
  overflow: hidden;
  background-color: #d9eafa;
  z-index: 50; }

.model {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .model img {
    min-width: 80%;
    min-height: 120%;
    z-index: 2; }
  .model .front {
    position: absolute;
    top: -5%;
    right: 0;
    opacity: 0; }
  .model .back {
    position: absolute;
    top: -5%;
    right: -100%; }

.title {
  position: absolute;
  width: 150%;
  left: 0;
  font-size: 120px;
  font-weight: 500;
  color: white;
  z-index: 1; }

.slider {
  visibility: hidden;
  width: 33%;
  height: 100px;
  position: absolute;
  left: 3%;
  bottom: 1%; }
  .slider ul {
    width: 100%;
    height: 100%; }
    .slider ul li {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 33.3%;
      height: 100px;
      position: relative;
      float: left;
      z-index: 20;
      opacity: 0.3;
      transition: opacity 0.5s;
      font-weight: 500;
      font-size: 28; }
      .slider ul li:hover {
        opacity: 1; }
      .slider ul li::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: 1;
        width: 100%;
        height: 100px;
        border-bottom: 5px solid; }
    .slider ul .show {
      opacity: 0.7; }

/* ----------shopping basket---------- */
#basket {
  position: absolute;
  right: 0;
  display: none;
  width: 70%;
  height: 100vh;
  background-color: #d9eaf9;
  z-index: 51; }
  #basket h1 {
    font-size: 80px;
    font-weight: 500;
    color: white;
    width: 80%;
    margin: 5% 0 0 5%; }

.list {
  position: relative;
  width: 85%;
  height: 60%;
  margin: 0 auto;
  overflow-y: auto; }
  .list .item-container {
    width: 100%; }
    .list .item-container th {
      font-size: 26px;
      padding-top: 8px;
      text-align: center; }
    .list .item-container td {
      margin-top: 8px;
      text-align: center; }
  .list .final {
    width: 50%;
    height: 20%;
    float: right; }
    .list .final ul li {
      display: block;
      list-style-type: none;
      color: grey;
      text-align: right; }
    .list .final ul span {
      float: right;
      font-size: 12px; }

.checkout {
  width: 50%;
  height: 80px;
  position: absolute;
  right: 10%; }
  .checkout li {
    width: 50%;
    height: 100%;
    float: left;
    display: inline-flex;
    justify-content: center;
    align-items: center; }
    .checkout li:nth-child(1) {
      color: black;
      cursor: pointer;
      text-decoration: none; }
    .checkout li:nth-child(2) {
      background-color: black;
      font-size: 28px;
      font-weight: 500; }
      .checkout li:nth-child(2) a {
        color: white;
        text-decoration: none; }

/*# sourceMappingURL=style.css.map */
